<a href="https://colab.research.google.com/github/Charty042/PRACTISE-TRAINING/blob/main/maternal_child_health.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
np.random.seed(42)

In [ ]:
n = 500

In [ ]:
data = {
    "Region": np.random.choice(['North', 'South', 'East', 'West', 'Central'], n),
    "Healthcare_Facility_Access": np.random.choice([1, 0], n, p=[0.7, 0.3]),
    "Socioeconomic_Level": np.random.choice(['Low', 'Medium', 'High'], n, p=[0.5, 0.3, 0.2]),
    "Prenatal_Visits": np.random.randint(0, 11, n),
    "Birth_Attendant_Type": np.random.choice(['Doctor', 'Midwife', 'Traditional Attendant', 'None'], n),
    "Distance_to_Facility_km": np.round(np.random.uniform(0, 50, n), 2),
    "Maternal_Age": np.random.randint(18, 46, n),
    "Infant_Mortality": np.random.choice([1, 0], n, p=[0.05, 0.95]),  # Assuming a 5% infant mortality rate
    "Complications_During_Birth": np.random.choice([1, 0], n, p=[0.2, 0.8]),  # Assuming 20% birth complications
    "Follow_Up_Visits": np.random.randint(0, 6, n)
}

In [ ]:
maternal_child_health_df = pd.DataFrame(data)
maternal_child_health_df.head()

,Region,Healthcare_Facility_Access,Socioeconomic_Level,Prenatal_Visits,Birth_Attendant_Type,Distance_to_Facility_km,Maternal_Age,Infant_Mortality,Complications_During_Birth,Follow_Up_Visits
0,West,1,Low,8,Midwife,15.76,40,0,0,2
1,Central,0,Medium,10,None,38.59,33,0,0,3
2,East,1,Low,4,None,4.32,35,1,0,3
3,Central,0,High,4,None,11.84,39,1,0,3
4,Central,1,High,4,Midwife,36.62,39,0,0,1

In [ ]:
file_path = r"C:\3MTT TRAINING\OCTOBER KNOWLEDGE SHOWCASE\Maternal_Child_Health.csv"

In [ ]:
# Save as CSV
maternal_child_health_df.to_csv(file_path, index=False)

In [ ]:
print("CSV file saved successfully!")

CSV file saved successfully!

In [ ]:
# This is a knowledge showcase project whereby I practised generating data using jupyter notebook.
# Saving the genrated data to my laptop so as to create visualizations using Power BI
# This is just to help me make practicals use of the tools I had been thought.